<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- FB AccessToken Tool https://developers.facebook.com/tools/explorer/1114058885271795  gigacloudtw@gmail.com/!@Giga Expired/2Months-->
    <add key="FBUserAccessToken" value="CAAP1OwwdkPMBAPk1TEreZA2LhOe82dryQfNWde3eHSJDq1nVtS7QhBvo7QFJAaYBo3srs36b8LL4oI9gfFEokLgiozeleVj32oGWaDZC2cpoqsbIMTVZBzXWFmBTkiz9pGtMyIGhqUa1SGoyIQHQaiPK20V4o8EVAQVpOrDZBKZCbaAXyu1RuAV12aHdSvYIZD"/>
    <add key="FBGroupID" value="822468034542393"/>
    <add key="mailbox" value="Emergency@gigamedia.com.tw"/>
    <add key="account" value="emergency"/>
    <add key="pw" value=""/>
    <add key="domain" value="giga"/>
    <!--Line Section-->
    <!--<add key="TargetLineGroup" value="FTAlerter"/Funpachi_Alert>-->
    <!--<add key="TargetLineGroup" value="Funpachi_Alert"/>-->
    <add key="TargetLineGroup" value="矢正"/>
    <!--Line Section-->
  </appSettings>
  
</configuration>